node_modules/
.history/
.git/
react-router-v5/node_modules/
react-router-v5/.history/
react-router-v6/node_modules/
react-router-v6/.history/
react-redux/node_modules/
react-redux/.history/
react-redux/build/
react-program/node_modules/
react-program/.history/